#https://docs.python.org/3.6/howto/logging.html
[loggers]
keys=root,console

[handlers]
keys=hand01,hand02

[formatters]
keys=form01

[logger_root]
level=NOTSET
handlers=hand02

[logger_console]
level=DEBUG
handlers=hand01
qualname=console

[handler_hand01]
class=StreamHandler
level=NOTSET
formatter=form01
args=(sys.stdout,)

[handler_hand02]
class=handlers.TimedRotatingFileHandler
level=DEBUG
formatter=form01
args=('analyze.py.log','D',1,30)

[formatter_form01]
format=%(asctime)s %(module)s.%(name)s [%(levelname)s]: %(message)s
class=logging.Formatter